doctype
html(lang='es')
	head
		meta(charset="utf-8")
		title Creación de cliente y servidor en Node.js
		meta(name="author", content="Veselin Georgiev | veselingp@hotmail.com")
		meta(name="description" content="API REST sencilla que almacena datos de una persona")
		block scripts
	body
		block body