extend public
block scripts
	script(type='text/javascript').
		function usuario(){
			var usuarios = document.getElementsByName('loki[]');
			for(var i = 0; i < usuarios.length; i++){
				if(usuarios[i].checked)
					return usuarios[i].value;
			}
			return false;
		}
		function editar(usuario){
			if(usuario)
				window.location = '/usuarioseditar/' + usuario;
			else
				alert('Por favor selecciona un usuario')
			return false;
		}
		function eliminar(usuario){
			if(usuario){
				document.getElementById("usuarios").method = "post";
				document.getElementById('_method').value ='delete';
			}
			else{
				alert('Por favor selecciona un usuario')
				return false;
			}
		}
block body
	h3 Creación de cliente y servidor en Node.js
	section
		form(name="usuarios", action="/usuarioseditar/", method="get", id="usuarios")
			table
				thead
					tr
						td
						td ID
						td Nombre
						td Edad
				tbody
					each item in data
						tr
							td
								input(type="radio", name="loki[]", value=item.$loki)
							td #{item.$loki}
							td #{item.nombre}
							td #{item.edad}
			input(type="hidden", name="_method", id="_method", value="get")
			a(href="/usuarioseditar")
				input(type="button", value="Agregar")
			input(type="submit", value="Editar", onclick="return editar(usuario());")
			input(type="submit", value="Eliminar", onclick="return eliminar(usuario());")
