extend public
block body
	h3 Creación de cliente y servidor en Node.js
	section
		form(name="", action="/usuarioseditar", method="post")
			input(type="hidden", name="_method", id="_method", value=(data ? (data.$loki ? "put" : "post") : "post"))
			input(type="hidden", name="loki", id="loki", value=(data ? (data.$loki ? data.$loki : "") : ""))
			label Nombre *
			input(type="text", name="nombre", id="nombre", placeholder="Nombre *", value=(data ? (data.nombre ? data.nombre : "") : ""))
			label Edad *
			input(type="text", name="edad", id="edad", placeholder="Edad *", value=(data ? (data.edad ? data.edad : "") : ""))
			if (data && data.$loki)
				span Usuario guardado
			input(type="submit", value="Guardar")
			a(href="/usuarios")
				input(type="button", value="Cancelar")